@charset "utf-8";
@import "normalize";
@import "codykit";

body {
  background: #ECC561;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

* {
	box-sizing:border-box;
}

[role-space] {
	@include inline-block(500px,40px);
	border:1px solid gray;
	text-align:left;
	position:relative;
	list-style:none;
			
	li {
		position:absolute;
		border:1px solid blue;
		transition:all .25s;
	}
}